PORT=3001
DB_HOST=endereço_do_banco
DB_PORT=3306
DB_USER=usuario_do_banco
DB_PASSWORD="sua_senha_com_aspas_duplas"
DB_NAME=nome_do_banco
TMDB_API_KEY=chave_da_api_tmdb
JWT_SECRET=sua_chave_secreta_aqui

# Mailtrap Config
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=seu_usuario_mailtrap
MAILTRAP_PASS=sua_senha_mailtrap

# Log Service e Redis
INTERNAL_SERVICE_TOKEN=gere_com_openssl_rand_hex_32
REDIS_PASSWORD=defina_uma_senha_forte
AUDIT_STREAM_MAXLEN=10000
